.Rproj.user
.Rhistory
.RData
.Ruserdata
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.shx
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.prj
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.shp
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbnda_adm3_bps_20200401.shx
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.prj
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.shp
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbnda_adm4_bps_20200401.shx
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.prj
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.shp
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbndl_admALL_bps_itos_20200401.shx
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.prj
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.shp
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbndp_admALL_bps_itos_20200401.shx
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.shp
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.prj
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbnda_adm2_bps_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.shx
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.shp
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.prj
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbnda_adm1_bps_20200401.cpg
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.shx
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.shp.xml
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.shp
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.sbx
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.sbn
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.prj
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.dbf
01_Data/01_Raw/idnshape/idn_admbnda_adm0_bps_20200401.cpg
